div {
  width: 100%;
  display: inline-block;
}

p {
  background: #5f9ea0;
  color: #fff;
  /* color: royalblue; */
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
}
